@model List<Pizza>


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Le più popolari</h1>
        </div>

        <div class="row gy-3 justify-content-center">
            @foreach (var pizza in Model)
            {
                if (pizza.Name == "Margherita" || pizza.Name == "Capricciosa" || pizza.Name == "Colombo" || pizza.Name == "Inverno")
                {                   
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@pizza.Image" class="img-fluid rounded-start" alt="@pizza.Name">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@pizza.Name</h5>
                                    <p class="card-text">@pizza.Description</p>
                                    <p class="card-text"><small class="text-muted">@pizza.Price &euro;</small></p>
                                </div>
                            </div>
                        </div>
                        <a href="/Pizza/Details/@pizza.Id" class="btn btn-primary">Dettagli</a>
                    </div>
                }
            }
        </div>
    </div>

</div>